@model List<AcunMedyaPortolfyoProject.Models.Certificate>

<footer id="footer" class="footer light-background">
    <div class="container">
        <h3 class="sitename">Umut AKDENİZ</h3>
        <p>Beni sosyal medya hesaplarımdan takip ederek güncel içerik ve paylaşımlarıma kolayca ulaşabilirsiniz!</p>

        <div class="social-links d-flex justify-content-center">
            <a href="@Model[0].SAdi"><i class="bi bi-linkedin"></i></a>
            <a href="@Model[1].SAdi"><i class="bi bi-github"></i></a>
            <a href="@Model[2].SAdi"><i class="bi bi-instagram"></i></a>
            <a href="@Model[3].SAdi"><i class="bi bi-twitter-x"></i></a>
        </div>

        <div class="container">
            <div class="copyright">
                <span>©2025</span> <strong class="px-1 sitename">Umut AKDENİZ</strong> <span>Tüm hakları saklıdır.</span>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                @*Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>*@
            </div>
        </div>
    </div>
</footer>