
@{
    ViewBag.Title = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İletişim Bilgisi Ekleme Sayfası</h2>

<form method="post">
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" /> <br />
    <label>Adres</label>
    <input type="text" class="form-control" name="Adress" /> <br />
    <label>Email</label>
    <input type="text" class="form-control" name="Email" /> <br />
    <label>Telefon No</label>
    <input type="text" class="form-control" name="Phone" /> <br /> 
    <button class="btn btn-success">Ekle</button> 
</form>