@model AcunMedyaPortolfyoProject.Models.Skill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yetenek Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.SkillID)
    <label>Yetenek</label>
    @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" }) <br />
    <label>Derece</label>
    @Html.TextBoxFor(x => x.Derece, new { @class = "form-control" }) <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" }) <br />
    <button class="btn btn-success">Güncelle</button>
</form>