<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<ul class="list-unstyled components mb-5">
    <li class="active">
        <a href="/Statistic/"><span class="fa fa-tachometer mr-3"></span> Dashboard</a>
    </li>
    <li>
        <a href="/Categories/"><span class="fa fa-th-list mr-3"></span> Kategoriler</a>
    </li>
    <li>
        <a href="/About/"><span class="fa fa-info-circle mr-3"></span> Hakkımızda</a>
    </li>
    <li>
        <a href="/Education/"><span class="fa fa-graduation-cap mr-3"></span> Eğitim</a>
    </li>
    <li>
        <a href="/Jobs/"><span class="fa fa-briefcase mr-3"></span> Deneyimler</a>
    </li>
    <li>
        <a href="/Communication/"><span class="fa fa-comments mr-3"></span> Mesajlar</a>
    </li>
    <li>
        <a href="/Project/"><span class="fa fa-project-diagram mr-3"></span> Projeler</a>
    </li>
    <li>
        <a href="/Services/"><span class="fa fa-concierge-bell mr-3"></span> Hizmetler</a>
    </li>
    <li>
        <a href="/Skill/"><span class="fa fa-cogs mr-3"></span> Yetenekler</a>
    </li>
    <li>
        <a href="/Slider/"><span class="fa fa-image mr-3"></span> Profil</a>
    </li>
    <li>
        <a href="/Testimonial/"><span class="fa fa-users mr-3"></span> Referanslar</a>
    </li>
    <li>
        <a href="/Contact/"><span class="fa fa-phone mr-3"></span> İletişim</a>
    </li>
    <li>
        <a href="/Certificate/"><span class="fa fa-share-alt mr-3"></span> Sosyal Medya</a>
    </li>
    <li>
        <a href="/Default/"><span class="fa fa-external-link-alt mr-3"></span> Sayfaya Git</a>
    </li>
</ul>
