
@{
    ViewBag.Title = "CreateCertificate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medya Ekleme Sayfası</h2>

<form method="post">
    <label>Sosyal Medya Linki</label>
    <input type="text" class="form-control" name="SAdi" />
    <label>Sosyal Medya Adı</label>
    <input type="text" class="form-control" name="SVeren" /> <br />
    <button class="btn btn-success">Ekle</button>
</form>
