
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımda Ekleme Sayfası</h2>

<form method="post">
    <label>Görsel</label>
    <input type="text" class="form-control" name="ImageUrl" /> <br />
    <label>Ünvan</label>
    <input type="text" class="form-control" name="Title" /> <br />
    <label>Doğum Tarihi</label>
    <input type="text" class="form-control" name="Birthday" /> <br />
    <label>Web Site</label>
    <input type="text" class="form-control" name="Website" /> <br />
    <label>Telefon No</label>
    <input type="text" class="form-control" name="Phone" /> <br />
    <label>Şehir</label>
    <input type="text" class="form-control" name="City" /> <br />
    <label>Yaş</label>
    <input type="text" class="form-control" name="Age" /> <br />
    <label>Email</label>
    <input type="text" class="form-control" name="Email" /> <br />
    <label>FreeLance</label>
    <input type="text" class="form-control" name="FreeLance" /> <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description1" /> <br />
    <label>Açıklama-2</label>
    <input type="text" class="form-control" name="Description2" /> <br />
    <label>Derece</label>
    <input type="text" class="form-control" name="Degree" /> <br /> <br />
    <button class="btn btn-success">Ekle</button>
</form>